@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.ant-tabs-tab-btn {
 cursor: pointer !important; 
}

