input {
	&:not(:disabled):not(.primary) {
		&:hover,
		&:focus,
		&.active {
			/* active class used for multiselect */
			border-color: var(--color-primary-element);
			outline: none;
		}
		&:active {
			outline: none;
			background-color: var(--color-main-background);
			color: var(--color-text-light);
		}
		&:focus-visible {
			box-shadow: 0 0 0 2px var(--color-primary);
		}
	}
}
