.my-form-label {
	margin: 0 5px 0 0;
	color: #212529;
	line-height: 1.5;
	font-weight: 700;
}

.alert {
	position: relative;
	padding: 0 6px;
	border: 1px solid transparent;
	border-radius: 3px;
}

.alert-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}
